
nav li {
    color:cadetblue;
    display:inline-block;
    padding-left: 100px;
}

ul, li {
    color:cadetblue;
    display:block;
    padding-left: 0px;
}

select {
    height: 32px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box; 
}

select:focus {
    border: 1px solid #33C3F0;
     outline: 0; 
}
main {
    display: flex;
    background-color: bisque;
  }
  
  article, section {
    flex: 4;
  }
  
  aside {
    flex: 1;
    margin-left: 10px;
    padding: 1%;
    background-color: azure;
    border-width: 1px;
    border-color: black;
    border-left-style: solid;
  }
  
  aside a {
    display: block;
    float: left;
    width: 50%;
  }
  
.kitten {
    text-align: center;
    border-radius: 6px;
    background-color: #fff;
    border: solid 2px #f0dce5;
    padding: 20px;
    margin-bottom: 24px; 
}

.kitten img {
      border-radius: 4px;
      margin-bottom: 2.25rem;
      max-width: 100%;
      cursor: pointer;
}

.kittenCategory {
    text-align: center;
    border-radius: 6px;
    background-color: #fff;
    border: solid 2px #f0dce5;
    padding: 20px;
    margin-bottom: 2px;
    height: 120px;
}

.kittenCategory img {
    border-radius: 4px;
    margin-bottom: 2.25rem;
    max-width: 20%;
    max-height: 100%;
    margin-right: 10px;
    cursor: pointer;
}

  
footer {
    margin-top: 10px;
}

  form {
    margin:50px 0px; padding:0px;
    text-align:center;
    align-content:flex-start;
    }
    
label {
    text-align: right;
    width: 75px;
    padding-right: 20px;
    align-content: flex-start;
    }

label,input {
    width: 150px;
    margin-bottom: 10px;
    padding-left: 20px;
    align-content: flex-start;
    }
label,textarea {
    width: 150px;
    margin-bottom: 10px;
    padding-left: 20px;
    align-content: flex-start;
    }